section
{
    text-align:center;
}

a
{
    color: black
}

.row
{

}

#starter
{
    background-color: black;
    color: whitesmoke;
}

#about1
{
    background-color: rgb(50,50,50);
    color: white;
}

#about2
{
    background-color: rgb(75,75,75);
    color: white;
}

#portfolio
{
    background-color: dimgray
}

.intro
{
    padding-top: 15%;
}

h1
{
    padding-top: 5%;
}