section
{
    text-align:center;
}

a
{
    color: black
}

#starter
{
    background-color: black;
    color: whitesmoke;
}

#about
{
    background-color: grey;
}

#portfolio
{
    background-color: dimgray
}

.intro
{
    padding-top: 15%;
}

h1
{
    padding-top: 5%;
}